@blue: #2B333C;
@orange: #F97979;

.border(@px: 1px, @value: solid, @color: red){
    border: @px @value @color;
}

.flex(@direction: row, @wrap: nowrap, @align: space-around){
    display: flex;
    -webkit-flex-direction: @direction;
    -ms-flex-direction: @direction;
    flex-direction: @direction;
    -webkit-flex-wrap: @wrap;
    -ms-flex-wrap: @wrap;
    flex-wrap: @wrap;
    -webkit-justify-content: @align;
    justify-content: @align;
}

.font(@size: 14px, @color: #333, @weight: normal, @style: normal){
    font-family: 'Roboto', sans-serif;
    font-size: @size;
    font-weight: @weight;
    font-style: @style;
    color: @color;
}
.normalize(){
    body{
        margin: 0;
        padding: 0;
        .font();
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    a:hover{
        text-decoration: none;
        color: inherit;
    }
    [hidden] {
        display: none;
    }
}

.normalize();

.main--page-title{
    display: inline-block;
    margin-bottom: 20px;
    border-bottom: 3px solid #333;
}
.pop-up-notification{
    width: 270px;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 15px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999999;
    display: none;
}
#user--search-result{
    display: none;
}
.preloader-container{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    z-index: 20000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    display: none;

    &>img, div{
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 40px;
    }
}
#one--schedule-content{
    overflow: auto;
}
.one--fixed-top{
    position: fixed;
    top: 25px;
    background-color: black;
    color: white;
}
.one--title-row{
    .flex(row, nowrap, space-between);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;

    .date{
        min-width: 150px;
        border: 1px solid #000;
    }
    .room{
        width: 750px;
        min-width: 300px;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
    }
}
.one--date-row{
    .flex(row, nowrap, space-between);
    /*font-size: 18px;*/
    /*font-weight: 700;*/
    text-align: center;
    box-sizing: border-box;

    .date{
        min-width: 150px;
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        font-size: 17px;
        padding: 4px;
    }
    .room{
        width: 750px;
        min-width: 300px;
        padding: 8px;
        /*        border-top: 1px solid #000;*/
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        font-size: 14px;
    }
}
.schedule-controls{
    width: 260px;
    font-size: 22px;
    .flex();

    .name{
        width: 180px;
        font-weight: 700;
        color: @orange;
        text-decoration: underline;
    }
}
.room-cell{
    .event-cell{
        width: 85%;
        max-width: 400px;
    }
}
.event-cell{
    margin: 6px auto 0 auto;
    cursor: pointer;
    display: inline-block;

    &>span{
        display: inline-block;
        margin: 0 5px;
    }

    .type{
        font-size: 14px;
        color: @orange;
        font-weight: 700;
    }
    .name{
        font-size: 13px;
    }
    hr{
        margin-top: 2px;
        margin-bottom: 0;
    }
}
.event-cell:hover{
    opacity: 0.8;
}

.two--table-container{
    max-width: 100%;
    /*max-height: 100%;*/
    overflow: scroll;
    position: relative;
    table {
        position: relative;
        border-collapse: collapse;
    }

    td, th {
        padding: 0.25em;

    }
    
    .two--thead-date th{
        position: sticky;
        top: 0;
    }
    .two--thead-time th{
        position: sticky;
        top: 30px;
    }

    thead th {
        background: #fff;
/*        position: sticky;
        top: 0;*/
        /*background: #000;*/
        /*color: #FFF;*/
    }

    thead th:first-child {
        min-width: 260px;
        left: 0;
        z-index: 1;
        background: #fff;
    }

    tbody{
        th {
            position: -webkit-sticky; /* for Safari */
            position: sticky;
            left: 0;
            background: #FFF;
            border-right: 1px solid #CCC;
            /*text-align: center;*/
            font-size: 12px;
        }
        tr.understudy th{
            text-align: center;
        }
/*        tr:hover, tr:hover th{
            background-color: @blue;
            color: #fff;
        }*/
    }
    tbody td {
        text-align: center;
    }

}
.two--thead-date{
    th{
        text-align: center;
    }
}
.two--thead-event{
    th{
        text-align: center;
        font-size: 12px;
    }
}
.two--thead-time{

    th:not(:first-child){
        min-width: 30px;
        text-align: center;
        font-size: 10px;
        /*transform: rotate(-90deg);*/
    }
}
#two--notification-banner{
    text-align: center;
    color: @orange;
}
#all-events-buttons{
    text-align: right;
}
.actor-modal-container{
    text-align: center;
    &>div{
        margin-top: 5px;
        cursor: pointer;
    }
    &>div:hover{
        opacity: 0.75;
    }
    .selected{
        font-weight: 700;
    }
}
.understudy > th:before{
    content: '- ';
}
.two--remove-cast, .two--add-understudy{
    &:hover{
        opacity: 0.7;
    }
}