/*==================================  STYLE BOARD  =================================*/
/*.common-container{
    width: 100%;
    box-sizing: border-box;
}*/
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.mrg-top15 {
  margin-top: 15px;
}
.mrg-top30 {
  margin-top: 30px;
}
.mrg-top45 {
  margin-top: 45px;
}
.mrg-left5 {
  margin-left: 5px;
}
.f-s10 {
  font-size: 10px;
}
.f-s12 {
  font-size: 12px;
}
.cursor-pointer {
  cursor: pointer;
}
.board--top-sidebar {
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  background-color: #2B333C;
  color: #fff;
  line-height: 40px;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  z-index: 10;
}
.board--top-sidebar .board--top-sidebar--humburger {
  width: 5%;
  font-size: 20px;
  text-align: center;
}
.board--top-sidebar .board--top-sidebar--humburger > i {
  cursor: pointer;
  transition: all 0.2s;
}
.board--top-sidebar .board--top-sidebar--humburger > i:hover {
  transform: scale(1.1);
}
.board--top-sidebar .board--top-sidebar--title {
  padding: 0 15px;
}
.board--top-sidebar .board--top-sidebar--title > h4 {
  line-height: 40px;
}
.board--top-sidebar .board--top-sidebar--null {
  width: 80%;
}
.board--top-sidebar .board--top-sidebar--account {
  width: 25%;
  text-align: right;
  padding-right: 20px;
  color: #F97979;
  cursor: pointer;
  position: relative;
}
.board--top-sidebar .board--top-sidebar--account .board--top-sidebar--account-more {
  position: absolute;
  /*display: none;*/
  background-color: #2B333C;
  bottom: -40px;
  right: 0;
  width: 100px;
  text-align: center;
}
.selected {
  font-weight: 700;
}
.board-min-sidebar .board-content {
  position: relative;
  margin-left: 0;
}
.board-min-sidebar .board--left-sidebar {
  display: none;
}
.board-content {
  margin-top: 45px;
  margin-left: 196px;
}
.board--left-sidebar {
  position: fixed;
  top: 40px;
  left: 0;
  bottom: 0;
  width: 196px;
  background-color: #415160;
  padding: 35px 7px 35px 7px;
  text-align: center;
  overflow: auto;
  -webkit-box-shadow: 2px 1px 12px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 1px 12px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 1px 12px 0px rgba(50, 50, 50, 0.75);
}
.board--left-sidebar > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.board--left-sidebar > ul li {
  border-top: 1px solid #2B333C;
  margin-top: 8px;
  padding-top: 8px;
}
.board--left-sidebar > ul li a {
  font-size: 14px;
  color: #BECFE0;
}
.board--left-sidebar > ul li a > div:nth-of-type(1) {
  font-size: 16px;
}
.board--left-sidebar > ul li a:hover i {
  transform: scale(1.1);
}
.board--left-sidebar > ul li.active a {
  color: #F97979;
}
@media (max-width: 480px) {
  .board--top-sidebar .board--top-sidebar--title {
    display: none;
  }
  .board--top-sidebar .board--top-sidebar--humburger {
    width: 20%;
  }
  .board--top-sidebar .board--top-sidebar--null {
    width: 10%;
  }
  .board--top-sidebar .board--top-sidebar--account {
    width: 85%;
  }
}
/*# sourceMappingURL=board.css.map */