body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #333;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
[hidden] {
  display: none;
}
.main--page-title {
  display: inline-block;
  margin-bottom: 20px;
  border-bottom: 3px solid #333;
}
.pop-up-notification {
  width: 270px;
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 15px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999999;
  display: none;
}
#user--search-result {
  display: none;
}
.preloader-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 20000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  display: none;
}
.preloader-container > img,
.preloader-container div {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 40px;
}
#one--schedule-content {
  overflow: auto;
}
.one--title-row {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  box-sizing: border-box;
}
.one--title-row .date {
  min-width: 150px;
  border: 1px solid #000;
}
.one--title-row .room {
  width: 750px;
  min-width: 300px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
.one--date-row {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  /*font-size: 18px;*/
  /*font-weight: 700;*/
  text-align: center;
  box-sizing: border-box;
}
.one--date-row .date {
  min-width: 150px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  font-size: 17px;
  padding: 4px;
}
.one--date-row .room {
  width: 750px;
  min-width: 300px;
  padding: 8px;
  /*        border-top: 1px solid #000;*/
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 14px;
}
.one--schedule-controls {
  width: 260px;
  font-size: 22px;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.one--schedule-controls .name {
  width: 180px;
  font-weight: 700;
  color: #F97979;
  text-decoration: underline;
}
.event-cell {
  width: 90%;
  margin: 6px auto 0 auto;
}
.event-cell > span {
  display: inline-block;
  margin: 0 5px;
}
.event-cell .type {
  font-size: 14px;
  color: #F97979;
  font-weight: 700;
}
.event-cell .name {
  font-size: 13px;
}
/*# sourceMappingURL=style.css.map */